<h1>Welcome to the Playground!</h1>

<p>Lazy-loaded Solid Island below here:</p>

<%= render SolidIslandComponent.new(name: "example", initial_props: @initial_props) %>

<%= render SolidIslandComponent.new(name: "example", initial_props: @initial_props) do %>
  <p>Waiting for this lazy component to load...</p>
<% end %>
