<h1>Welcome to the Playground!</h1>

<%= render ReactAppComponent.new(name: "AnotherOne", initial_props: { message: 'Another one' })  %>

<%= render ReactAppComponent.new(name: "Thing", initial_props: @initial_props)  %>
